
.Home {
    color: grey;
    height: 100%;
  }
  
.Home-text {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.Background {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  filter: brightness(30%);
  -webkit-filter: brightness(30%);
}

.Chosen-text {
  color: red;
  font-size: 20px;
}

.UnChosen-text {
  color: grey;
  font-size: 20px;
}

.Page-text {
  font-size: 15px;
}

   /* Split the screen in half */
.split {
  height: 120%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
}

/* Control the right side */
.right {
  right: 0;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
} 

.Screen-header {
  padding: 20px;
  padding-top: 0px;
  position: relative;
  padding-bottom: 1000px;
  top: 0;
}

.button {
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {opacity: 1}