$gray: #767676;
$light-gray: #cccccc;
$dark-gray: #383838;
$white: white;
$sepia: #f5ecec;
$dark-blue: #2d3e4f;
$raven: #667380;

// Semantic UI colors
$sui-green: #21ba45;
$sui-blue: #2185d0;
$sui-red: #db2828;
$sui-violet: #6435c9;
$sui-yellow: #fbbd08;
$sui-teal: #009c95;
$sui-gray: #767676;