
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 5px solid #f5ecec;
    padding: 2em 3em;
    height: 60px;
    color: gray;
    background-color: #f5ecec;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.links > a {
    margin-left: 1em;
  }